.welcome-section {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #393E46;
  display: flex;
  justify-content: left;
}

.category {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
  color: #393E46;
  overflow-x: auto;
}

.category-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  padding-left: 20px; 
  padding-right: 20px;
  margin-left: auto; 
  margin-right: auto;
}

.category-item {
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  flex: 0 0 auto; 
}

.category-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.category-item p {
  font-size: 1.2rem;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .category-container {
    flex-wrap: nowrap; 
    overflow-x: scroll; 
    justify-content: flex-start; 
    padding-left: 15px;
    padding-right: 15px;
  }

  .category-item {
    margin-right: 15px;
  }
}

.top-product {
  background-color: #F7F7F7;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: #393E46;
}

@keyframes flyInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0; 
  }
  to {
    transform: translateX(0);
    opacity: 1; 
  }
}

.fly-in {
  opacity: 0;
  animation: flyInLeft 1s forwards;
}

.product-card {
  margin-bottom: 30px;
  margin-top: 15px;
  opacity: 0;
  transition: opacity 0.5s ease;
  border: none !important;
}

.product-card img {
  height: 300px; 
  width: 100%; 
  object-fit: contain; 
}

.product-card .card-body {
  text-align: left;
  
}

.brand {
  background-color: #929AAB;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

h1{
  margin: 0 0 20px;
  font-size: 40px !important;
  margin-left: 25px;
  margin-top: 18rem !important;
}

h2{
  margin: 0 0 20px;
  font-size: 40px !important;
}

p {
  font-size: 1.2rem;
}