.welcome-section {
  background-image: url('../assets/background.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #929AAB;
  display: flex;
  justify-content: center;
}

.category {
  background-size: cover;
  background-position: center;
  padding: 25px 0;
  padding-bottom: 0%;
  text-align: center;
  color: #393E46;
  overflow-x: auto;
}

.category-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  padding-left: 20px; 
  padding-right: 20px;
  margin-left: auto; 
  margin-right: auto;
}

.category-item {
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 40px;
  flex: 0 0 auto; 
  transition: transform 0.3s ease, border 0.3s ease;
  cursor: pointer; 
}

.category-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.category-item:hover .category-image {
  transform: scale(1.1); 
}

.category-item:hover {
  transform: scale(1.05); 
  border: none; 
}

.category-item p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.top-product {
  background-color: #F7F7F7;
  background-size: cover;
  background-position: center;
  padding: 25px 0;
  text-align: center;
  color: #393E46;
}

@keyframes flyInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0; 
  }
  to {
    transform: translateX(0);
    opacity: 1; 
  }
}

.fly-in {
  opacity: 0;
  animation: flyInLeft 1s forwards;
}

.product-card {
  margin-bottom: 30px;
  margin-top: 15px;
  opacity: 0;
  transition: opacity 0.5s ease;
  border: none !important;
}

.product-card img {
  height: 300px; 
  width: 100%; 
  object-fit: contain; 
}

.product-card .card-body {
  text-align: left;
  
}

.brand {
  background-color: #393E46;
  text-align: center;
  color: #F7F7F7;
  padding-top: 25px;
  padding-bottom: 0;
}

.brand-carousel {
  position: relative;
  margin-top: 0;
}

.brand-banner {
  width: 100%;
  height: 80vh; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-image {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.brand-buttons {
  position: absolute;
  bottom: 20px;
  left: 50%; 
  transform: translateX(-50%); 
}

.brand-buttons button {
  width: 30px;
  height: 5px;
  background-color: #393E46;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.brand-buttons .active {
  background-color: #F7F7F7;
}

h1{
  margin: 0 0 20px;
  font-size: 40px !important;
  margin-left: 25px;
  margin-top: 18rem !important;
}

h2{
  margin: 0 0 20px;
  font-size: 40px !important;
}

h4 {
  font-weight: bold;
  margin-bottom: 15px;
  color: #F7F7F7;
}

p {
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .category-container {
    flex-wrap: nowrap; 
    overflow-x: scroll; 
    justify-content: flex-start; 
    padding-left: 15px;
    padding-right: 15px;
  }

  .category-item {
    margin-right: 15px;
  }
}